In [4]:
name=input("Enter your name:")
age=int(input("Enter your age:"))

print(f"My name is {name} and Iam {age} years old.")

Enter your name:Vijithra.A
Enter your age:24
My name is Vijithra.A and Iam 24 years old.

In [5]:
# Even or Odd
num=int(input("Enter your number:"))

if num %2 == 0:
  print("Even number")
else:
  print("odd number")

Enter your number:5
odd number

In [6]:
#List operations

numbers=[10,20,30,40,50,60,70]
print("Sum:" , sum(numbers))
print("Max:" , max(numbers))
print("Min:" , min(numbers))

Sum: 280
Max: 70
Min: 10

In [7]:
# Function example
def square(num):
  return num*num
print(square(9))

81

In [10]:
# Loop

for i in range (1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20